# Defold specific
build/
.cache/
.defold/
.defold_cache/

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Temporary files
*.tmp
*.temp
/.editor_settings
/.internal
/build